<html>
  <head>
    <title>Add</title>
  </head>
  <body>
    <form action="/add" method="post">
      <input type="text" name="1"/> + 
      <input type="text" name="2"/>
      <input type="submit" value="Add"/>
    </form>
  </body>
</html>
