<html>
  <head>
    <title>Subtract</title>
  </head>
  <body>
    <form action="/sub" method="post">
      <input type="text" name="1"/> - 
      <input type="text" name="2"/>
      <input type="submit" value="Subtract"/>
    </form>
  </body>
</html>
